body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    flex-direction: column;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 12vh; 
}
button{
    background-color:green;
    color:white;
    width: 100px;
    height: 50px;
    margin-top:10%;
    font-size: 20px;
    position:absolute;
    z-index: 1;
}

svg{
    width: 70vw;
    height: 70vh;
}
@media (max-width: 1000px) {
    #container {
        margin-top: 25vh; 
    }
    svg {
        width: 90vw;
        height: 50vh;
    }
}
@media (max-width: 600px) {
    svg {
        width: 100vw;
        height: 38vh;
    }
}